:root {
  --modal-color: rgba(255, 255, 255, 0.9);
  --modal-color-1: rgba(255, 255, 255, 1);
  --primary-text-color: white;
  --secondary-text-color: black;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  border-radius: 15px;
}

.d-none {
  display: none;
}

.imageOfAStudent {
  height: 310px;
  object-fit: cover;
  width: 100%;
}

div.students {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  grid-gap: 2vw;
  padding: 4vw 0;
  background-color: #ccc;
  border-radius: unset;
}

.justify-align-center {
  justify-content: center;
  align-items: center;
}

.j-self-center {
  justify-self: center;
}


.justify-align-self-centered {
  align-self: center;
  justify-self: center;
}

.student {
  width: 300px;
  background-color: black;
  color: white;
  height: 55vh;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in-out;
  transform-origin: bottom;
}


.student:hover {
  box-shadow: 2px 3px 5px darkgrey;
  transform: translateY(-5px) scale(1.02);
}

.mainStudentInfo {
  display: grid;
  grid-template-rows: auto 10%;
  height: 100%;
  padding: 1.5vw;
}



.d-flex {
  display: flex;
}




@keyframes fullWidth {
  0% {
    height: 0;
  }
}


.numbers {
  display: flex;
  align-self: flex-end;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  color: black;
}

h4.house {
  color: #cccc;
  text-transform: capitalize;
}


button {
  border: none;
  transition: transform 0.5s;

}



button h4 {
  padding: 2vw;
  background-color: black;
  color: white;
  font-size: 2vw;

}

button:hover {
  transform: skew(-20deg);

}



@keyframes widthToZero {
  100% {
    height: 0;
  }
}


.modalConent {
  height: 100%;
  display: grid;
  grid-template-rows: 30% 30% 10% 30%;
}

.d-flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}




h4.message {
  color: var(--primary-text-color);
  width: 60%;
  justify-self: center;
  margin: 0 auto;
  text-align: center;
}

.crest {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}


.modal[data-crest="slytherin"] {
  --modal-color: #5d5d5de8;
  --modal-color-1: #5d5d5d;
  --secondary-text-color: #1a472a;
}


.modal[data-crest="slytherin"] .crest {
  background-image: url(./img/sly.png);

}



.modal[data-crest="hufflepuff"] {
  --modal-color: #372e29e8;
  --modal-color-1: #372e29;
  --secondary-text-color: #ecb939;

}


.modal[data-crest="hufflepuff"] .crest {
  background-image: url(./img/huff.png);

}

.modal[data-crest="gryffindor"] {
  --modal-color: #d3a625e8;
  --modal-color-1: #d3a625;
  --secondary-text-color: #740001;

}


.modal[data-crest="gryffindor"] .crest {
  background-image: url(./img/griff.png);

}


.modal[data-crest="ravenclaw"] {
  --modal-color: #222f5be8;
  --modal-color-1: #222f5b;
  --secondary-text-color: #946b2d;

}


.modal[data-crest="ravenclaw"] .crest {
  background-image: url(./img/raven.png);


}


.modal {
  position: absolute;
  width: 300px;
  height: 45vh;
  height: inherit;
  animation: fullWidth 0.5s linear forwards 1;
  align-self: flex-start;
  background-color: var(--modal-color);
}



.textStudentHouse {
  color: var(--secondary-text-color);
  text-transform: capitalize;
}


.slider {
  height: inherit;
  position: absolute;
  width: -webkit-fill-available;
  width: -moz-available;
  transform-origin: top;
  align-self: flex-end;
  animation: widthToZero 0.5s linear forwards 1;
  background-color: var(--modal-color-1);
}